# PROJECT_CONFIGS
PORT = 3001
MODE = "PROD"
DOMAIN = "localhost:3001"
PROJECT_NAME = "project_name"

# JWT
JWT_SECRET = "secretKey"
JWT_EXPIRATION = "MS"

# LOG
LOG_FORMAT = "combined"
LOG_DIR = "./logs"

# CORS
ORIGIN = "*"
CREDENTIALS = true

# DATABASE
DB_USER = "postgres"
DB_PASSWORD = "test"
DB_DATABASE_NAME = "dbname"
DB_HOST = "localhost"
DB_PORT = "5432"